<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
	<packageRestore>
	    <add key="enabled" value="True" />
	</packageRestore>
	-->
    <config>
        <add key="repositorypath" value=".\Packages" />
		<add key="dependencyversion" value="Highest" /> <!-- other values HighestMinor, HighestPatch, Lowest  -->
    </config>
	<packageSources>
	    <add key="LocalSource" value=".\LocalPackages" />
	</packageSources>
	<disabledPackageSources>
	    <add key="nuget.org" value="true" />
	</disabledPackageSources>
</configuration>